* {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}



/* Cabeçalho */

#top-container {
    display: flex;
    height: 10vh;
    
    
}

.green-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: green;
    
   
}

.yellow-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: yellow;
}

.pink-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: fuchsia;
}

#middle-container{
    display: flex;
    flex-direction: row;
    height: 25vh;
    
    

}

#content2{
    width: 40%;
    
}

.blue-background {
    background-color: blue;
    height: 100%;
   
}

#blank {
    width: 25%;
    height: 100%;
    
}

#vertical-middle-container{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#image, #extra{
    height: 50%;
}
.red-background {
    background-color: red;
    height: 100%;
    
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100%;
}

.purple-background {
    background-color: purple;
    height: 100%;
}

#footer{
    height: 15vh;
}